@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

::selection {
  color: #fff;
  background: #6990F2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #6990F2;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wrapper {
  width: 430px;
  background: #fff;
  border-radius: 5px;
  padding: 30px;
  max-width: 90vw;
  box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.wrapper header {
  color: #6990F2;
  font-size: 27px;
  font-weight: 600;
  text-align: center;
}

.info {
  text-align: justify;
  font-size: 0.8rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

.download-button {
  background-color: #6990F2;
  color: #fff;
  padding: 12px 20.8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.download-button:hover {
  background-color: #4375f4;
  transition: 0.5s ease-in-out;
}

.accordion-body {
  font-size: 0.8rem;
  max-height: 70%;
}

.about {
  color: #404040;
  font-size: 16px;
  text-align: center;
  padding-top: 46px;
}

.about a {
  text-decoration: none;
  color: #6990F2;
}

.about a:hover {
  color: #0147f75a;
  transition: 0.5s ease-in-out;
}